.row{
    margin-left: 20px;
}
.posters{
    display:flex;
    overflow-y: hidden;
    overflow-x:auto;
    
}
.poster{
    height:220px;
    width:220px;
    margin-left:5px;
}
.title{
    color:white;
}
.posters::-webkit-scrollbar {
    display: none;
}
.poster_others{
    height:110px;
    margin-left:5px;
}